<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Search Ai</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@0.9.2/dist/chota.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.5/dist/turbo.es2017-esm.js" type="module" async
            defer></script>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="base.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <turbo-frame id="login-form" src="/login/form-padrao">
            <img class="loading" src="/gif/loading.gif" alt="Loading gif" style="display: block" />
        </turbo-frame>
    </div>
</body>
</html>